@media screen and (max-width: 1299px) {
    .user-agreement{
        .container{
            max-width: 920px;
        }
    }

}

@media screen and (max-width: 1023px) {
    .user-agreement{
        .container{
            max-width: 748px;
        }
    }
}

@media screen and (max-width: 767px) {
    .user-agreement{
        .container{
            max-width: 395px;

            .user-agreement-title{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 30px;
            }
    
            .user-agreement-text{
                margin-bottom: 20px;
                font-size: 14px;
            }
        }
    }

}

@media screen and (max-width: 424px) {
    .user-agreement{
        .container{
            max-width: 355px;
        }
    }
}

@media screen and (max-width: 374px) {
    .user-agreement{
        .container{
            max-width: 300px;
        }
    }
}
